<footer class="footer" style="border-top: 1px solid #eee;">
  <div class="container">
    <p class="text-muted mt-3">
   <a href="https://www.facebook.com/cziitt/" target="_blank">CZIiT<i class="fa fa-facebook-official w3-hover-opacity"></i></a>
    <div class="w3-section">
      <p><a href = https://www.google.pl/maps/place/Centrum+Zarządzania+Innowacjami+i+Transferem+Technologii+Politechniki+Warszawskiej/@52.218003,21.0080783,17z/data=!3m1!4b1!4m5!3m4!1s0x471ecce9a8a6c849:0xc43192b0da36bd37!8m2!3d52.218003!4d21.010267 target="_blank"><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i>Warsaw, Poland</a></p>
    <p class="w3-medium">Powered by <a class="w3-hover-text-red">Lochy i Odyńce</a></p>
    </p>
  </div>
</footer>