{% load static %}

<!-- Header -->
<header style="border-bottom: 1px solid #eee;">
  <!-- Messages -->
  <div>
    {% if messages %}
      {% for message in messages %}
        <div style="border-radius:0;" {% if message.tags %} class="alert alert-icon alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert" {% endif %}>
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <!-- End Messages -->
  <div class="container">
    <!-- Navbar -->
    <!-- Important: columns can be used directly in navbar since it is d-flex -->
    <nav class="navbar navbar-expand-md navbar-light p-0 py-2">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <h1>
              <a class="nav-link p-0" href="/">
              Space Reservation System
                <span class="sr-only">(current)</span>
              </a>
            </h1>
          </li>
        </ul>
      </div>
      
    <!-- Navbar -->
    <!-- Important: columns can be used directly in navbar since it is d-flex -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
    <button onclick="location.href='/'" class="w3-bar-item w3-button btn"  name="button" style="width:25% !important">HOME</button>
    <button onclick="location.href='/about'" class="w3-bar-item w3-button btn" name="button" style="width:25% !important">ABOUT</button>
    <button class="contact-btn w3-bar-item w3-button btn"  name="button" style="width:25% !important">CONTACT</button>
    {% if user.is_authenticated %}
              <a href="{% url 'logout' %}" class="logout-btn btn btn-danger" role="button">Log out</a>
               <ul>
                <span>
                Your are logged in as
                <strong>{{ user }}</strong>.
              </span>
              </ul>
    {% else %}
  <button class="login-btn btn btn-primary" type="button" name="button">Log in</button>
  <button class="signup-btn btn btn-primary" type="button" name="button">Sign up</button>
    {% endif %}
      </div>
  </div>
    </nav>
</header>


