<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
Reservations in (now-2h, now + 24h)
<table id="Concierge view" class="w3-hoverable">
<tr>
<th>State</th>
<th>Room</th>
<th>Status</th>
<th>Start</th>
<th>End</th>
<th>Description</th>
</tr>
  {% for reservation, state in reservations %}
  <tr>
    <td>{{state}}</td>
    <td>{{reservation.room}}</td>
    <td>{{reservation.status}}</td>
    <td>{{reservation.start_reservation}}</td>
    <td>{{reservation.end_reservation}}</td>
    <td>{{reservation.description}}</td>
  </tr>
  {% endfor %}
</table>
  </body>
</html>