
{% extends 'base.html' %}

{% block content %}

  {% include "_modal.html" %}
  <div class="text-center" style="padding:50px 0">
	<div class="login-form-1">
		<div class="main-login-form">
			<div class="login-group">
				<h2>Forgotten Password</h2>
				<form method="post" class="text-left" id="login-form">
					{% csrf_token %}
					{{ form.as_p }}
					<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
					<div class="etc-login-form">
						<p>New user? <a href="../register">Create new account</a></p>
						<p>Remember password?  <a href="../login">Login</a></p>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="login-form-1">
	
	{% endblock %}