<!doctype html>
{% block content %}
<table id="reservations" class="w3-hoverable">
<tr>
<th>Room</th>
<th>Status</th>
<th>Start</th>
<th>End</th>
<th>Description</th>
</tr>
  {% for reservation in reservations %}
  <tr>
    <td>{{reservation.room}}</td>
    <td>{{reservation.status}}</td>
    <td>{{reservation.start_reservation}}</td>
    <td>{{reservation.end_reservation}}</td>
    <td>{{reservation.description}}</td>
    <td><form action="#" method="get">
    <input value="{{ reservation.id }}" name="id" type="hidden">
        <input type="submit" class="btn" value="X" name="delete">
        </form>
    </td>
  </tr>
  {% endfor %}
</table>
 {% endblock %}