
{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

  {% include "_modal.html" %}
  <div class="text-center" style="padding:50px 0">
	<div class="login-form-1">
		<div class="main-login-form">
			<div class="login-group">
				<h2>Forgotten Password</h2>
				<form method="post" class="text-center" id="login-form">
					{% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% render_field field class="form-control" placeholder=field.label %}
        <div class="{% if field.errors %} invalid{% endif %}">
          {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
    {% endfor %}					
	<button type="submit" class="btn btn btn-primary">Send</button>
				</form>
			</div>
		</div>
	</div>
	<div class="login-form-1">
	
	{% endblock %}